<!DOCTYPE html>
<html>
<head>
	<style>
        body {
			background-size:cover;
            background-image: url('https://images.unsplash.com/photo-1510519138101-570d1dca3d66?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=2647');
		}
	</style>
<center>
	<font color="White" size="5" style="font-family: avenir">
		<body>
			<h1>SAVE SUCCESSFUL</h1><br>
			<h2>Following Employee has been added to the database</h2><br>
			<h2>{{ name }}</h2><br>
			<title>Add Emp Output</title>
				<form action="http://3.134.115.108:80/" autocomplete="on" method = "GET">

					<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>

				</form>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
